<div class="row">
    <div class="col">
      <div class="row">
        <div class="col">Campagnes</div>
        <div class="col">Date de début</div>
        <div class="col">Date de fin</div>
        <div class="col">Description</div>
      </div>
    </div>
  </div>


  <div class="row mt-4" style="overflow-y: auto; max-height: 200px;">
    <div class="row" *ngFor="let campaign of filterCampaignsByMonth(selectedMonth)">
      <div (click)="selectCampaign(campaign)" class="card mb-2">
        <div class="card-body row">
            <div class="col-3">
                <h6 class="card-title">{{ campaign.name }}</h6>
            </div>
            <div class="col-3">
                <p class="card-text"> {{ campaign.startDate | date: 'dd/MM/yyyy' }}</p>
            </div>
            <div class="col-3">
                <p class="card-text">{{ campaign.endDate | date: 'dd/MM/yyyy' }}</p>
            </div>
            <div class="col-3">
                <p class="card-text">{{ campaign.description }}</p>
            </div>
          
       
   
        </div>
      </div>
    </div>
  </div>
